<h1>
  Browse Players
</h1>
<div class="row">
  <% @players.each do |player| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>
            <%= link_to player.name, edit_player_path(player) %>
            <span class="pull-right">
              <%= link_to "Edit", edit_player_path(player), class: 'btn btn-xs btn-success' %>
            </span>
          </h3>
          <p><strong>Handicap Index:</strong> <%= player.handicap_index %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>