<h1 class="title">
  <%= @player.name %>
  <span class="pull-right">
    <%= link_to "Edit", edit_player_path(@player), class: 'btn btn-sm btn-success' %>
  </span>
</h1>
<h3><strong>Handicap Index:</strong> <%= @player.handicap_index %></h3>

<h3>Leagues</h3>

<ul>
  <% @playerleagues.each do |playerleague| %>
  <li><%= link_to playerleague.league.name, league_path(playerleague.league) %></li>
  <% end %>
</ul>